.itemContainer {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: 5px 5px 5px white;
  }
  
  .closeBtn {
    color: red;
    font-weight: 800;
    width: auto;
  height: 40px;
  font-size: 1.2em;
  box-shadow: 5px 5px 5px white;
  
  }
  
  .closeBtn:hover {
    cursor: pointer;
  }
  .completed {
    text-decoration: line-through;
  }